# dependencies
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Week_10/node_modules
/Week_14/jsx-component/node_modules
/Week_15/jsx-component/node_modules
/Week_16/jsx-component/node_modules
/Week_17/generator-toolchain/node_modules
/Week_17/generator-vue/node_modules
/Week_17/vue-demo/node_modules
/Week_18/myvueapp/node_modules
/Week_18/test-demo/node_modules
/Week_18/generator-toytool/node_modules
/Week_18/generator-toytool/node_modules
/Week_19/publish-server/node_modules
/Week_19/publish-tool/node_modules
/Week_19/server/node_modules
/Week_20/eslint-demo/node_modules
