# dependencies
/node_modules

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/Week_10/node_modules
/Week_14/jsx-component/node_modules
/Week_15/jsx-component/node_modules
/Week_16/jsx-component/node_modules
